{% extends "base.html" %}

{% block title %}
Destination
{% endblock %}


{% block content %}
    <div class="container bg-secondary rounded my-5 p-4">
        <div class="float-right">
            <a href="/travels">Home</a> / <a href="/logout">Log Out</a>
        </div>

        <h1>{{destination}}</h1>
        <p><strong>Planned By      </strong> : {{planned_by}}</p>
        <p><strong>Description     </strong> : {{description}}</p>
        <p><strong>Travel Date From</strong> : {{travel_from}}</p>
        <p><strong>Travel Date To  </strong> : {{travel_to}}</p>

        <h1>Other user's joining the trip:</h1>
        {% for trip in trip_user %}
            <p>{{trip.name}} is going!</p>
        {% empty %}
            <p>No one!</p>
        {% endfor %}
    </div>
{% endblock %}