{% extends "base.html" %}

{% block title %}
Travel Dashboard
{% endblock %}


{% block content %}
<div class="container bg-secondary rounded m-5 p-5">
    <div class="float-right">
        <a href="/logout">Log Out</a>
    </div>
    <div>
        <h1>Hello, {{username}}!</h1>
        <p>Your Trip Schedules</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Destination</th>
                    <th scope="col">Travel Start Date</th>
                    <th scope="col">Travel End Date</th>
                    <th scope="col">Plan</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                {% for trips in trip_info %}
                    <th scope="row"><a href="/travels/destination/{{trips.id}}">{{trips.destination}}</a></th>
                    <td>{{trips.date_from}}</td>
                    <td>{{trips.date_to}}</td>
                    <td>{{trips.description}}</td>
                </tr>
                {% empty %}
                    <tr>
                        <td scope="row" colspan="2">No trips yet!.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <h1>Other User's Travel Plans</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Destination</th>
                <th scope="col">Travel Start Date</th>
                <th scope="col">Travel End Date</th>
                <th scope="col">Do You Want To Join?</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for trips in other_trip %}
                <th scope="row">{{trips.planned_by}}</th>
                <td><a href="/travels/destination/{{trips.id}}">{{trips.destination}}</a></td>
                <td>{{trips.date_from}}</td>
                <td>{{trips.date_to}}</td>
                <td><a href="/join/{{trips.id}}">Join!</a></td>
            </tr>
            {% empty %}
                <tr>
                    <td scope="row" colspan="2">No trips yet!.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="float-right">
        <a href="/travels/add">Add Travel Plan</a>
    </div>



</div>
{% endblock %}